workflows/credential-form.json
{
  "name": "credential-form",
  "nodes": [
    {
      "parameters": {
        "path": "credential-form",
        "responseMode": "responseNode",
        "formTitle": "n8n-claw — Enter API Key",
        "formDescription": "Enter your API key securely. This link is valid once.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "API Key",
              "fieldType": "password",
              "requiredField": true
            }
          ]
        }
      },
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "form-trigger"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst token = input.formQueryParameters?.token;\nconst api_key = input['API Key'];\n\nif (!token) {\n  return [{ json: { valid: false, error: 'Missing token.' } }];\n}\nif (!api_key) {\n  return [{ json: { valid: false, error: 'Missing API key.' } }];\n}\n\nconst baseUrl = '{{SUPABASE_URL}}';\nconst serviceKey = '{{SUPABASE_SERVICE_KEY}}';\nconst headers = {\n  'apikey': serviceKey,\n  'Authorization': 'Bearer ' + serviceKey,\n  'Content-Type': 'application/json'\n};\n\nconst resp = await $helpers.httpRequest({\n  method: 'GET',\n  url: baseUrl + '/rest/v1/credential_tokens?token=eq.' + token + '&select=*',\n  headers\n});\n\nif (!resp || !Array.isArray(resp) || resp.length === 0) {\n  return [{ json: { valid: false, error: 'Invalid or unknown token.' } }];\n}\n\nconst row = resp[0];\n\nif (row.used) {\n  return [{ json: { valid: false, error: 'This link has already been used.' } }];\n}\n\nif (row.expires_at && new Date(row.expires_at) < new Date()) {\n  return [{ json: { valid: false, error: 'This link has expired.' } }];\n}\n\nreturn [{ json: {\n  valid: true,\n  error: '',\n  token: token,\n  template_id: row.template_id,\n  cred_key: row.cred_key,\n  cred_label: row.cred_label,\n  api_key: api_key\n} }];"
      },
      "name": "Validate Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "validate-token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "if-valid"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst baseUrl = '{{SUPABASE_URL}}';\nconst serviceKey = '{{SUPABASE_SERVICE_KEY}}';\nconst headers = {\n  'apikey': serviceKey,\n  'Authorization': 'Bearer ' + serviceKey,\n  'Content-Type': 'application/json'\n};\n\n// Upsert into template_credentials\nawait $helpers.httpRequest({\n  method: 'POST',\n  url: baseUrl + '/rest/v1/template_credentials',\n  headers: {\n    ...headers,\n    'Prefer': 'resolution=merge-duplicates,return=minimal'\n  },\n  body: {\n    template_id: input.template_id,\n    cred_key: input.cred_key,\n    cred_value: input.api_key,\n    updated_at: new Date().toISOString()\n  }\n});\n\n// Mark token as used\nawait $helpers.httpRequest({\n  method: 'PATCH',\n  url: baseUrl + '/rest/v1/credential_tokens?token=eq.' + input.token,\n  headers: {\n    ...headers,\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    used: true\n  }\n});\n\nreturn [{ json: { success: true } }];"
      },
      "name": "Save Credential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -100
      ],
      "id": "save-credential"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "API key saved successfully! You can close this window."
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        -100
      ],
      "id": "respond-success"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.error }}"
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        100
      ],
      "id": "respond-error"
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Save Credential",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Credential": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}